body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(231, 229, 229);
}

.navbar {
    position: sticky;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.navleft a {
    color: rgb(163, 163, 163);
    text-decoration: none;
    padding: 12px 17px;
    font-size: 1.4em;
    transition: color 0.2s;
}

.navright a {
    color: rgb(163, 163, 163);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.1em;
    transition: color 0.2s;
}

.navleft a:hover {
    color: rgb(216, 216, 216);
}

.navright a:hover {
    color: rgb(216, 216, 216);
}

.content {
    padding: 0;
    margin: 0;
}

.Section1 {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Section1-image {
    max-width: 100%;
    width: auto;
    height: 200px;
    object-fit: cover;
    display: flex;
    text-align: center;
}

.Section2 {
    width: 100%;
    height: 700px;
    background-color: white;
    display: flex;
}

.Section3-content {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #a1a1a1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sec3con-item {
    display: flex;
    align-items: center;
    margin: 0 1%;
}

.sec3-image {
    width: 20px;
    height: 20px;
    padding: 8px;
}

.Section3-content p {
    font-size: small;
}
